.daily-weather-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.3);
    border-radius: 10px;
  }
}

.svg-box {
  width: 100px;
  height: 100px;
}

.temp-data {
  font-size: 1.2rem;
}