.weather-card {
  width: 50%;
  height: 60%;
  margin: auto;
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #edf2f4;
}

@mixin padding {
  padding: 0.5rem;
}

.left-bar {
  @include padding;
}

.right-bar {
  @include padding;
}

.left-bar p, h1 {
  @include padding;
  font-size: 2rem;
}

.right-bar p {
  @include padding;
  font-size: 1.5rem;
}

.svg-box {
  width: 80%;
}